html, body{
    background-color:#F06292;
    font-family: 'Lobster Two', cursive;
}


#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

h3, label, p{
    font-size: xx-large;
}

h4{
    font-size: x-large;
}